<% content_for :title do %>Minhas Cartas<% end %>

<div class="px-4 py-5 border-bottom">
  <div class="container">
    <h1 class="display-4">Minhas Cartas</h1>

    <div class="row">
      <div class="py-2">
        <%= form_with url: search_cards_path, method: :post, data: { controller: 'debounce', debounce_target: 'form' } do |form| %>
          <div class="pb-2 col-md-4">
            <%= form.text_field :query, class: "form-control shadow-lg", placeholder: "Digite o nome da carta para buscar", data: { action: 'input->debounce#search' } %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="results"></div>

    <div id="cards" class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-2">
      <% @cards.each do |card| %>
        <%= render card %> 
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>